:root {
    /*Buttons Color*/
    --primary: #00a0d2;
    --secondary: #f3f3f3;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;

    /*Button Sizes*/
    --small: scale(0.8);
    --normal: scale(1);
    --large: scale(1.2); 
    --xlarge: scale(1.5);
    --xxlarge: scale(2);

    /*Button Border*/
    --border-radius: 0.5rem;
}