.DashboardLayout .row {
    display: flex;
    min-height: calc( 100vh - 11.6rem);
    margin-bottom: 2.5rem;
}
  
.DashboardLayout .row .sideBar {
    width: 20rem;
    min-width: 20rem;
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden auto;
    height: calc( 100vh - 13.6rem);
}

.DashboardLayout .row .sideBar a {
    background-color: #f0f0f1;
    width: 100%;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    color: black;
    font-size: 1.2rem;
    border: 0.1rem solid lightgray;
}

.DashboardLayout .row .sideBar hr {
    margin-top: 1rem;
    height: 0.1rem;
    background-color: #ababab;
    border: none;
}

.DashboardLayout .row .sideBar a:not(.DashboardLayout .row .sideBar a:first-child) {
    margin-top: 1rem;
}

.DashboardLayout .row .sideBar a:hover {
    background-color: #dadada;
    transition: 0.3s;
    padding-right: 1.5rem;
}

.DashboardLayout .row .mainContent {
    flex: 1 0 auto;
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}