.caroselContainer {
    height: 50rem;
    margin: 2.5rem 5rem;
    position: relative;
}


.catProductsBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
    overflow-x: auto;
}


.firstCatProduct, .secondCatProduct, .thirdCatProduct {
    background-color: white;
    margin-bottom: 5rem;
    border-top: 0.1rem solid darkgray;
    border-bottom: 0.1rem solid darkgray;
    padding: 5rem 2rem 2.5rem 2rem;
}

.firstCatProduct .firstCatProductHeader, .secondCatProduct .secondCatProductHeader, .thirdCatProduct .thirdCatProductHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.Services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 5rem;
}

.Services .ServicesBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: white;
    border: 0.1rem solid darkgray;
    padding: 2.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    width: 30rem;
    max-width: 100%;
}

.Services .ServicesBox:hover {
    background-color: #d0d3ff;
    box-shadow: 0 0 0.5rem 0.1rem lightgrey;
    cursor: pointer;
    transition: 0.3s;
}

.Services .ServicesBox svg {
    font-size: 7rem;
    color: cornflowerblue;
}

.Services .ServicesBox h3 {
    font-size: 1.6rem;
}

.Services .ServicesBox p {
    color: gray;
    font-size: 1.1rem;
}

@media only screen and (max-width: 400px) {
    .firstCatProduct .firstCatProductHeader, .secondCatProduct .secondCatProductHeader, .thirdCatProduct .thirdCatProductHeader {
        justify-content: center;
        gap: 2.5rem;
    }
}

.secondBanner {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 0rem 2.5rem 2.5rem 2.5rem;
}

.secondBanner img:nth-child(1) {
    border-radius: 1rem;
    width: 65rem;
}

.secondBanner img:nth-child(2) {
    border-radius: 1rem;
    width: 20.5rem;
}