.caroselContainer {
    height: 50rem;
    margin: 2.5rem 5rem;
    position: relative;
    border: 0.5rem solid #1e3c58;
    border-radius: 1rem;
}


.catProductsBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
    overflow-x: auto;
}


.firstCatProduct, .secondCatProduct, .thirdCatProduct {
    background-color: #1e3c58;
    margin-bottom: 5rem;
    border-top: 0.1rem solid darkgray;
    border-bottom: 0.1rem solid darkgray;
    padding: 5rem 5rem 2.5rem 5rem;
}

.firstCatProduct .firstCatProductHeader, .secondCatProduct .secondCatProductHeader, .thirdCatProduct .thirdCatProductHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 2.5rem;
}

.Services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 5rem;
}

.Services .ServicesBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: white;
    border: 0.1rem solid #1e3c58;
    padding: 2.5rem;
    border-radius: 1rem;
    transition: 0.3s;
    width: 30rem;
    transform: scale(1);
    max-width: 100%;
}

.Services .ServicesBox:hover {
    background-color: #1e3c58;
    box-shadow: 0 0 0.5rem 0.1rem lightgrey;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

.Services .ServicesBox:hover svg, .Services .ServicesBox:hover h3 {
    color: white;
}

.firstCatProduct .firstCatProductHeader hr, .secondCatProduct .secondCatProductHeader hr, .thirdCatProduct .thirdCatProductHeader hr {
    flex-grow: 1;
    border-radius: 50%;
}

.Services .ServicesBox:hover p {
    color: #b1b1b1;
}

.Services .ServicesBox svg {
    font-size: 7rem;
    color: #1e3c58;
}

.Services .ServicesBox h3 {
    font-size: 1.6rem;
}

.Services .ServicesBox p {
    color: gray;
    font-size: 1.1rem;
}

@media only screen and (max-width: 400px) {
    .firstCatProduct .firstCatProductHeader, .secondCatProduct .secondCatProductHeader, .thirdCatProduct .thirdCatProductHeader {
        justify-content: center;
        gap: 2.5rem;
    }
}

.secondBanner {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin: 0rem 2.5rem 5.5rem 2.5rem;
}

.secondBanner img:nth-child(1) {
    border-radius: 1rem;
    width: 65rem;
}

.secondBanner img:nth-child(2) {
    border-radius: 1rem;
    width: 20.5rem;
}

.subscribeEmail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.subscribeEmail form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.subscribeEmail p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: #1e3c58;
}

.subscribeEmail form input {
    width: 25rem;
}