.notFoundBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.productContainer .productHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5rem 10rem;
    gap: 10rem;
    height: 40rem;
}

.productContainer .productHeader .productImage {
    width: 30rem;
    height: 40rem;
}

.productContainer .productHeader .productImage img {
    object-fit: contain;
    border-radius: 1rem;
    mix-blend-mode: multiply;
    border: 0.1rem solid darkgray;
    background-color: white;
}

.productContainer .productHeader .productInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    height: -webkit-fill-available;
}

.productContainer .productHeader .productInfo .productPrice {
    font-size: 2.3rem;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
}

.productContainer .productHeader .productInfo .productMiniDesc {
    width: 100%;
    line-height: 2em;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.productContainer .productHeader .productInfo .productPrice hr {
    width: 100%;
}

.productContainer .productHeader .productAdd {
    height: -webkit-fill-available;
    width: 15rem;
}

.productContainer .productHeader .productAdd form {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 2.5rem;
}

.productContainer .productHeader .productAdd form {
    width: 100%;
}

.productContainer .productHeader .productAdd button {
    width: max-content;
}

.productNotAvailable {
    color: tomato;
    font-size: 1.6rem;
    width: max-content;
}

.productDescription {
    width: 92vw;
    margin: 0 auto;
    margin-top: 9rem;
    border-bottom: 0.1rem solid #aaa;
    margin-bottom: 5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem 0.1rem darkgrey;
}

.productDescription table {
    margin: 3.5rem 0rem 2.5rem 0rem;
    border-collapse: collapse;
    width: 100%;
}

.productDescription table td {
    border: 0.1rem solid #aaa;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.productDescription table tr:nth-child(even) {
    background-color: #dadada;
}

.productDescription .productDesc {
    font-size: 1.3rem;
}

.productPriceBox {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    flex-wrap: nowrap;
}

.productPriceBox span {
    width: max-content;
}

@media screen and (max-width: 1200px) {
    .productContainer .productHeader {
        flex-wrap: wrap;
        height: auto;
        margin: 5rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .productContainer .productHeader .productImage {
        order: 0;
    }

    .productContainer .productHeader .productAdd {
        order: 1;
        flex-grow: 0.5;
    }

    .productContainer .productHeader .productInfo {
        order: 2;
    }

    .productContainer .productHeader .productAdd button {
        margin: 0 auto;
    }
}

.productComment {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem 0.1rem darkgrey;
    background-color: #f0f0f1;
}

.productComment div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: baseline;
    gap: 1rem;
}
.productComment .productCommentHeader {
    font-size: 1.2rem;
}

.productComment .productCommentDate, .productComment .productCommentName {
    font-weight: bold;
}

.productComment .productCommentText {
    font-size: 1.3rem;
    margin-right: 2.5rem;
    font-weight: bold;
    margin-top: 2.5rem;
}

.productNoComment {
    font-size: 1.6rem;
    margin: 2.5rem 0rem 1rem 0rem;
}

.addComment {
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 5rem;
}

.addComment form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.addComment form button {
    width: 10rem;
}