.header {
    width: 100%;
    height: 11.6rem;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0.5rem 2.5rem;
}

.header .topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    background: #fff;
    font-family: iransans;
    font-weight: 700;
    padding: 0 2rem;
    font-size: 1rem;
    flex-wrap: wrap;
}

.header .bottomHeader {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    position: relative;
    height: 50px;
}

/* Top Header */
/* Logo Box */
.header .topHeader .logoBox img {
    height: 5rem;
    width: 5rem;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 0px transparent);
}

.header .topHeader .logoBox img:hover {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(1px 1px 7px black);
}

/* Search Box */
.header .topHeader .searchBox {
    flex-grow: 1;
    padding: 0rem 5rem 0rem 10rem;
}

.header .topHeader .searchBox input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    text-align: center;
}

/* Nav Box */
.header .topHeader .navBox ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.header .topHeader .navBox ul li a {
    font-size: 1.3rem;
    color: black;
    transition: 0.3s;
    font-weight: 500;
    border-radius: 0rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
}

.header .topHeader .navBox ul li a:hover {
    transition: 0.3s;
    border-radius: 1rem;
    background-color: #fdbc0b;
}

/* User And Basket Box */
.header .topHeader .userBox {
    /*flex-grow: 1;*/
}

.header .topHeader .userBox ul {
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2.3rem;
    padding-top: 1rem;
}

.header .topHeader .userBox .basketBox {
    position: relative;
}

.header .topHeader .userBox .basketBox svg {
    color: black;
    border-radius: 50%;
    transition: 0.3s;
}

.header .topHeader .userBox .basketBox svg:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #fdbc0b;
    border-radius: 50%;
}

.header .topHeader .userBox .basketBox p {
    position: absolute;
    font-size: 1rem;
    color: black;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .topHeader .userBox .userIconBox {
    position: relative;
}

.header .topHeader .userBox .userIconBox svg {
    color: black;
    border: 0.1rem solid transparent;
    border-radius: 50%;
    transition: 0.3s;
}

.header .topHeader .userBox .userIconBox svg:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #fdbc0b;
    border: 0.1rem solid black;
    border-radius: 50%;
}

.header .topHeader .userBox .userIconBox {
    position: relative;
}

.header .topHeader .userBox .userIconBox .userMenuBox {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 256px;
    padding-bottom: 0.4rem;
    border-radius: 0.8rem;
    box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 30%);
    background-color: #ffffff;
    z-index: 1;
}

.header .topHeader .userBox .userIconBox .userMenuBox  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 1.2rem;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.header .topHeader .userBox .userIconBox .userMenuBox  ul li {
    width: 100%;
}

.header .topHeader .userBox .userIconBox .userMenuBox  ul li.userBoxFName {
    border-bottom: 0.1rem solid darkgray;
    padding-bottom: 0.5rem;
}

.header .topHeader .userBox .userIconBox .userMenuBox  ul li a {
    color: #424750;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.15;
}

.header .topHeader .userBox .userIconBox .userMenuBox  ul li a:hover {
    color: #fdbc0b;
}

/* Bottom Header */
.header .bottomHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 4.5rem;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.header .bottomHeader ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0;
    color: #666;
    font-size: 1rem;
    font-family: iransans;
    font-weight: 700;
    transition: color .4s ease;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    margin: 0rem 0.5rem;
}

.header .bottomHeader ul li a {
    color: #666;
    font-size: 1.2rem;
    border: 0.1rem solid transparent;
    border-radius: 0rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.header .bottomHeader ul li a:hover {
    color: #000000;
    border: 0.1rem solid var(--Orange-Yellow);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

@media screen and (max-width: 650px) {
    .header {
        display: flex;
        flex-direction: column;
    }
}