@import url(reset.css);
@import url(fonts.css);
@import url(variables.css);

* {
    font-family: IRANSans-web;
    scroll-behavior: smooth;
}

html {
    direction: rtl;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.swal-text {
    text-align: center !important;
}

.contentWithHeaderAndFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    min-height: 100vh;
    justify-content: space-between;
}

.loadingSpinner {
    position: fixed;
    background-color: white;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    animation: hideMe 2.5s forwards;
}

.loadingSpinner svg {
    height: 5rem !important;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}


@keyframes hideMe{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}