@import url(reset.css);
@import url(fonts.css);
@import url(variables.css);

* {
    font-family: IRANSans-web;
}

html {
    direction: rtl;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f0f1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.swal-text {
    text-align: center !important;
}

.contentWithHeaderAndFooter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    min-height: 100vh;
    justify-content: space-between;
}