:root {
    /*Generic Gradient Color Palettes*/
    --Blue-Violet: #845EC2;
    --Super-Pink: #D65DB1;
    --Light-Crimson: #FF6F91;
    --Atomic-Tangerine: #FF9671;
    --Orange-Yellow: #FFC75F;
    --Sunny: #F9F871;
}